.catalog-page {
  padding: 40px 110px 56px;
}

.catalog-page__wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.catalog-page__title {
  margin: 0 0 45px 3px;

  font-size: 32px;
  line-height: 37px;
}
