.container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 30px;
  padding-top: 30px;
}

.spinner {
  width: 30px;
  height: 30px;
  margin-left: 15px;

  animation: rotate 2s linear infinite;
}

.path {
  stroke: var(--color-orange);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
