.product-card {
  position: relative;

  width: 250px;
  height: 451px;

  background-color: var(--color-white);
  border-radius: 6px;

  padding: 25px 15px 23px;
  box-sizing: border-box;
}

.product-card__lable {
  position: absolute;
  left: 0;

  padding-top: 2px;
  box-sizing: border-box;

  width: 38px;
  height: 16px;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;

  color: var(--color-white);
  border-radius: 0 10px 10px 10px;
}

.product-card__lable--sale {
  top: 29px;

  background-color: var(--color-orange);
}

.product-card__lable--hit {
  top: 53px;

  text-transform: uppercase;

  background-color: var(--color-purple);
}

.product-card__lable--new {
  top: 29px;

  text-transform: uppercase;

  background-color: var(--color-blue);
}

.product-card > .product-card__link:first-of-type {
  display: block;
  margin-bottom: 30px;
}

.product-card > .product-card__link:last-of-type {
  display: block;
  margin: 0 auto;
}


.product-card__img {
  display: block;
}

.product-card__description {
  margin: 0 0 17px;
  padding: 0 9px;

  height: 38px;

  line-height: 19px;

  overflow: hidden;

  /* transition: 1s ease-in-out; */
}

/* .product-card__description:hover {
  position: relative;
  transform: translateY(-100px);

  height: 100px;
  animation: show-description 2s linear;
} */

/* .product-card__description:hover + .product-card__img__container {
  transform: translateY(100px);
} */
/* .product-card__description:hover ~ .product-card__img {
  transform: translateY(100px);
} */

/* .product-card__description:hover {
  height: 100px;
} */

/* @keyframes show-description {
  0% {
    transform: translateY(0);
    height: 38px;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    transform: translateY();
    height: auto;
  }
} */

.product-card__description .product-card__link {
  color: var(--color-grey-dark);
}

.product-card__price {
  display: flex;
  align-items: flex-end;

  margin-bottom: 22px;
  padding: 0 9px;
}

.product-card__standart-price {
  margin-right: 21px;

  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.product-card__standart-price--with-discount {
  color: var(--color-orange);
}

.product-card__discount-price {
  margin: 0;
  font-size: 14px;
  text-decoration-line: line-through;
}
